<div class="form-area">
  <h3>user details</h3>
  <input type="text" placeholder="name"  [(ngModel)]="name">
  <br><br>
  <input type="email" placeholder="email" [(ngModel)]="email">
  <br><br>
  <textarea rows="10" cols="30" placeholder="address" [(ngModel)]="address"></textarea>
  <br><br>
  <button  (click)="onClick()">save data</button>
</div>
<div *ngIf="userArray.length>0; else noData">
<div class="table-area">
  <table [width]="500">
    <thead>
      <th>#</th>
      <th>Name</th>
      <th>email</th>
      <th>Address</th>
      <th>actions</th>
    </thead>
    <tr *ngFor="let user of userArray; let index=index">
      <td>{{index+1}}</td>
      <td>{{user.name}}</td>
      <td>{{user.email}}</td>
      <td>{{user.address}}</td>
      <td><button (click)="onDelete(index)">delete</button></td>
    </tr>
  </table>
</div>
</div>
<ng-template #noData>
  <h4>no data to show</h4>
</ng-template>